<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>iliangcang</title>
	<link rel="shortcur icon" type="image/x-icon" href="../img/favicon.ico" media="screen"><!-- 设置网页右上角小图标 -->
	<script type="text/templete" id="templete"><!-- 模板 -->
		<div class="product">
			<div>
				<img src="<%= goods_thumb %>" alt="">
				<a href="http://www.iliangcang.com/i/goods/?id= <%= goods_id %>">
					<p><%= price %></p>
					<p>
						<span><%= goods_name %></span>
						<span><%= goods_desc %></span>
					</p>
				</a>
			</div>
			<p>
				<a href="javascript:;"></a>
				<a href="javascript:;"><%= cat_id %></a>
			</p>
		</div>
	</script>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<script type="text/javascript" src="../api/underscore.min.js"></script>
	<script type="text/javascript" src="../js/bannermove.js"></script>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
	<header>
		<!-- 头部 -->
		<div class="header">
			<div class="user">
				<i></i>
				<ul>
					<li><a href="../html/login.html">登录</a><a href="javascript:;">注册</a></li>
					<li></li>
					<li><a href="javascript:;">购物车</a></li>
					<li></li>
					<li><a href="javascript:;">消息</a></li>
					<li></li>
					<li><a href="javascript:;">添加良品</a></li>
				</ul>
			</div>
			<div class="userlist">
				<ul>
					<li><a href="javascript:;">个人设置</a></li>
					<li><a href="javascript:;">收货信息</a></li>
					<li><a href="javascript:;">我的订单</a></li>
					<li><a href="javascript:;">退出</a></li>
				</ul>
			</div>
			<ul class="shoppinglist">
				<li>你的购物车暂时没有商品...</li>
				<li><a href="javascript:;">快去抢购良仓商品吧！</a></li>
			</ul>
			<ul class="messagelist">
				<li><a href="javascript:;"><span>动态</span><i>0</i></a></li>
				<li><a href="javascript:;"><span>评论</span><i>0</i></a></li>
				<li><a href="javascript:;"><span>私信</span><i>0</i></a></li>
				<li><a href="javascript:;"><span>粉丝</span><i>0</i></a></li>
				<li><a href="javascript:;"><span>喜欢</span><i>0</i></a></li>
				<li><a href="javascript:;"><span>通知</span><i>0</i></a></li>
			</ul>
		</div>
		<!-- 导航栏 -->
		<div class="navbox">
			<nav>
				<div class="box2">
					<ul class="nav">
						<li><a href="javascript:;">首页</a></li>
						<li><a href="javascript:;">商店</a></li>
						<li><a href="javascript:;">杂志</a></li>
						<li><a href="javascript:;">分享</a></li>
						<li><a href="javascript:;">达人</a></li>
					</ul>
					<div class="search">
						<div class="box">
							<input type="text" placeholder="search..." name="">
						</div>
						<input type="submit" value="" name="">
					</div>
				</div>
				<!-- 子级菜单 -->
				<div class="stroe">
					<div class="stroeleft">
					</div>
					<div class="stroeright">
						<a href="javascript:;"></a>
						<p>新视线：　2015年7月刊</p>
					</div>
				</div>
				<div class="stroe2">
				</div>
			</nav>
		</div>
	</header>
	<div class="banner"><!-- banner图 -->
		<ul class="bannerbox"></ul>
	</div>
	<div class="adv">
		<div class="advleft">
			<a href="http://www.iliangcang.com/i/topicapp/201705181808"><img src="../img/27176.jpg"></a>
			<a href="http://www.iliangcang.com/i/topicapp/201705185537"><img src="../img/27175.jpg"></a>
		</div>
		<div class="advcenter">
			<a href="http://www.iliangcang.com/i/topicapp/201705115213"><img src="../img/27178.jpg"></a>
		</div>
		<div class="advright">
			<a href="http://www.iliangcang.com/i/topicapp/201705185227"><img src="../img/27177.jpg"></a>
			<a href="http://www.iliangcang.com/i/topic/201705183611"><img src="../img/27174.jpg"></a>
		</div>
	</div>
	<div class="popularityproduct"><!-- 人气宝贝 -->
		<p>人气良品</p>
		<div class="middle"></div>
	</div>
	<div class="disposebox"><!-- 产品流程 -->
		<div class="dispose">
			<a href="javascript:;">
				<i></i>
			</a>
			<div class="slogan">
				<figure>
					<i></i>
					<figcaption>
						<p>全球精品</p>
						<p>Global Selections</p>
					</figcaption>
				</figure>
				<figure>
					<i></i>
					<figcaption>
						<p>正品保证</p>
						<p>Authenticity Guaranteed</p>
					</figcaption>
				</figure>
				<figure>
					<i></i>
					<figcaption>
						<p>全场包邮</p>
						<p>Free Delivery</p>
					</figcaption>
				</figure>
				<figure>
					<i></i>
					<figcaption>
						<p></p>
						<p>工作日 09:00-18:00</p>
					</figcaption>
				</figure>
		</div>
	</div>
	<footer><!-- 底部 -->
		<div class="footer">
			<div class="footerleft">
				<div class="code">
					<p><i></i><span>下载iPhone版</span></p>
					<p><i></i><span>下载Android版</span></p>
				</div>
				<dl>
					<dt></dt>
					<dd>
						<a>iPhone Android</a>
						<a>客户端下载</a>
					</dd>
				</dl>
				<div class="foot-bottom">
					<ul>
						<li><a href="javascript:;">关于良仓</a></li>
						<li></li>
						<li><a href="javascript:;">服务协议</a></li>
						<li></li>
						<li><a href="javascript:;">隐私保护政策</a></li>
						<li></li>
						<li><a href="javascript:;">使用指南</a></li>
						<li></li>
						<li><a href="javascript:;">联系我们</a></li>
						<li></li>
						<li><a href="javascript:;">加入我们</a></li>
						<li></li>
						<li><a href="javascript:;">友情链接</a></li>
						<li></li>
						<li><a href="javascript:;">私信良仓</a></li>
					</ul>
					<ul>
						<li>© 2013-2015 北京良仓文化传播有限公司版权所有 京ICP备13010677号-1 京公网安备11010502025627</li>
						<li>公司名称：北京良仓文化传播有限公司  电话：010-58263516</li>
						<li>公司地址：北京朝阳区百子湾路32号6号楼1层60号.</li>
						<li>社会信用统一代码：91110105059231575L  食品许可证：JY11105160159557</li>
						<li>图书证名称：中华人民共和国出版物经营许可证  图书证编号：新出发京零 字第 朝 150051 号</li>
					</ul>
				</div>
			</div>
			<div class="footerright">
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<p><i></i></p>
			</div>
		</div>
	</footer>
	<div class="UpTop">
		
	</div>
</body>
</html>