body,ul,li,figure,figcaption,p,input{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration: none;color:#333333;}

.header,nav,.stroe,.banner{width:1000px;margin:0 auto;}


/*==========================header fixed1=================================*/
header{position:fixed;top:0px;left:0px;background:#25292E;width:100%;min-width: 1000px;height:108px;}
.header{position: relative;height: 58px;background:#25292E;}
.header div i{float:left;background:url(../img/icon.png) no-repeat 0px 13px;width:96px;height:58px;transition:all .5s;}
.header div i:hover{opacity:0.7;}
.header div ul{float: right;}
.header div ul li{float: left;}
.header div ul li:nth-child(odd){padding:0 16px;line-height: 58px;font-size:12px;}
.header div ul li:nth-child(even){height:8px;border:1px solid #525961;margin-top:25px;}
.header div ul li:nth-child(odd) a{color:#666666;display: block;}
.header div ul li:nth-child(1) a{color:#CCCCCC;float: right;}
.header div ul li:nth-child(1) a:nth-child(1){padding-right:8px;float:left;}
.header div ul li:nth-child(odd) a:hover{color:#CCCCCC;}

.shoppinglist{display:none;position:absolute;z-index:4;top:58px;right:0px;width:320px;background: #292F34;text-align:center;font-size:14px;}
.shoppinglist li:nth-child(1){height:70px;line-height: 70px;color:#CCCCCC;}
.shoppinglist li:nth-child(2){background:#7DBFDE;height:50px;line-height: 50px;}
.shoppinglist li:nth-child(2) a{color:white;}

.messagelist{display:none;position:absolute;z-index:4;top:58px;right:0px;background: #292F34;text-align:center;font-size:12px;}
.messagelist li a{height:40px;line-height:40px;display: block;width:140px;margin:0 13px;border-bottom:1px solid #3F4449;color:#CCCCCC;padding:0 10px;}
.messagelist li:last-child a{border:none;}
.messagelist li a span{float:left;}
.messagelist li a i{font-style: normal;float:right;}
/*==========================header=================================*/
.navbox{width:100%;background:white;}
nav{position:relative;background:white;}
.box2{border-bottom:4px solid #EDEDED;height:50px;}
.nav li{float:left;cursor:pointer;width:154px;}
.nav li a{float:left;width:123px;-border-bottom:4px solid #EDEDED;padding:17px 0 12px 0;text-align:center;-margin-right:32px;}
.nav li:first-child a{text-align:left;width:120px;margin:0;}
.nav li:hover a{border-bottom:4px solid #262B30;}
.search{float:right;width:230px;position:relative;overflow: hidden;}
.search .box{-display:none;z-index:2;left:230px;position:absolute;width:230px;border-bottom:4px solid #262B30;}
.search .box input{border:none;outline:none;background:none;width:190px;height:50px;padding-left:10px;}
.search>input{position:relative;z-index:3;border:none;outline:none;float:right;background: url(../img/icon.png) no-repeat -164px -156px;width:40px;height:25px;margin-top:17px;margin-bottom:12px;background-color:white;}


.stroe,.stroe2{display:none;background:white;position:absolute;z-index:10000;left:0;top:54px;}
.stroe .stroeleft{width:750px;height:451px;float: left;}
.stroe .stroeleft .stroetop{height:380px;}
.stroe .stroeleft  .shoptop{width:680px;overflow: hidden;-margin:0 35px;margin-top:30px;}
.stroe .stroeleft  ul{height:70px;cursor:pointer;border-bottom:1px solid white;}
.stroe .stroeleft .shoptop ul li {-background:green;width:97px;height:70px;float: left;text-align:center;color:#4D4D4D;font-weight:bolder;font-size:14px;}
.stroe .stroeleft .shoptop ul li  img{display: block;width:40px;height:40px;margin:0 auto;}
.stroe .stroeleft .shoptop ul li  a{display: block;position:relative;}
.triangle{position:absolute;top:27px;left:0;right:0;margin:0 auto;width:6px;height:6px;background:white;border:1px solid transparent;border-left:1px solid #C0C0C0;border-top:1px solid #C0C0C0;transform:rotate(45deg);z-index:3;}

.stroe .stroeleft .shoplist{-background:red;width:673px;font-size:12px;display:none;-background:violet;height:72px;text-align:center;padding-right:70px;}
.stroe .stroeleft .shoplist a{float: left;width:100px;color:#999999;margin:10px 0;}
.stroe .stroeleft .shoplist a:hover{color:black;}

.stroe .stroeright{float: right;}
.stroe .stroeright a{display: block;width:232px;height:232px;background:url(../img/315574.jpg) no-repeat center;background-size:232px 232px;margin-top:42px;margin-bottom: 15px;}
.stroe .stroeright p{text-align:center;}

.stroe2 a{display:inline-block;margin:20px 30px;}
/*==========================header=================================*/
/* banner */
.banner{position: relative;margin-top:142px;z-index:-1;}
.bannerbox{width:8000px;height:475px;position:absolute;top:0px;left:0px;}
.bannerbox li{float: left;}