body,ul,li,a,img,input{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:white;}


body{background:#999999;position:relative;height:100%;}

.box{width:300px;height:400px;position:absolute;left:0;right:0;top:90px;margin:0 auto;}
.box>img{display: block;margin:0 auto;margin-bottom: 20px;}
.box form>label{width:300px;height:200px;}
.box form>label{width:300px;height:50px;background:#CCCCCC;border:none;outline:none;display: block;margin-bottom:10px;}
.box form>label i{float:left;width:50px;height:30px;border-right:1px solid white;background:url(../img/usericon.png) no-repeat center;outline:none;margin-top:10px;}
.box form>label:nth-child(2) i{background:url(../img/passicon.png) no-repeat center;}
.box form>label input{float:right;width:225px;border:none;outline:none;margin-left:15px;background:none;height:50px;line-height:50px;color:white;font-size:16px;}
.box form label ::-webkit-input-placeholder{color:white;}/* 给谷歌做兼容 */
.box form label :-moz-placeholder{color:white;}/* 给火狐4~18做兼容 */
.box form label ::-moz-placeholder{color:white;}/* 给火狐19+做兼容 */
.box form label :-ms-input-placeholder{color:white;}/* 给IE10+做兼容 */

.box form p{overflow: hidden;font-size:12px;color:white;}
.box form p label{float: left;height:20px;}
.box form p label input{float: left;height:20px;}
.box form p label span{float: right;padding-left:5px;}
.box form p a{float: right;}

.box form button{display: block;background:#25292E;height:50px;font-size:20px;font-weight:bolder;border:none;outline: none;width:100%;color:white;cursor:pointer;}

.box .way{margin-top:30px;overflow: hidden;}
.box .way .left{float:left;overflow: hidden;}
.box .way .left a{float:left;width:36px;height:36px;}
.box .way .left a:nth-child(1) {background:url(../img/qqnormal.png) no-repeat center;}
.box .way .left a:nth-child(2) {background:url(../img/xinlangnormal.png) no-repeat center;}
.box .way .left a:nth-child(3) {background:url(../img/doubannormal.png) no-repeat center;}
.box .way .left a:nth-child(4) {background:url(../img/tengxunnormal.png) no-repeat center;}

.box .way>a{float:right;line-height:36px;text-decoration: underline;}


.adv{width:120px;position: fixed;right:30px;bottom:30px;}
.adv a{display: block;height:40px;line-height:40px;overflow: hidden;}
.adv a span{float:left;color:white;font-weight:bolder;padding-right:0px;}
.adv a i{float:right;width:40px;height:40px;background: url(../img/6.jpg) no-repeat center;background-size:cover;}