<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/templete" id="templete">
		<li>
			<img src="<% url %>" alt="图片加载失败" />
			<p><% subject %></p>
		</li>
	</script>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<style type="text/css">
		body,ul,li,p{margin:0px;padding:0px;}
		.box{width:710px;}
		.box ul{position: relative;width:710px;margin:0 0 0 100px;}
		.box ul li{width:230px;position: absolute;list-style:none;}
	</style>
</head>
<body>
	<div class="box">
		<ul></ul>
	</div>
</body>
<script type="text/javascript" src="../js/index.js"></script>
</html>