body,ul,li,p,figure,figcaption,img,a{margin:0;padding:0}
li{list-style:none;}
a{text-decoration:none;color:black;}
img{width:100%;height:100%;display:block;}

html{font-size:62.5%;}


.EWidth{width:87%;margin:0 auto;}
.clear::before,.clear::after{content: "";height: 0;line-height: 0;display: block;visibility: hidden;clear: both;}
.floatL{float:left;}
.floatR{float:right;}



/* ===========================Header头部================================== */
header{min-width:87%;background:white;height: 142px;}
header .header{height:94px;}
.header .headerLeft{width:190px;}

.header .headerMiddle{width:687px;text-align:center;}
.header .headerMiddle ul{}
.header .headerMiddle ul li{width:20%;line-height:94px;font-size:2rem;}
.header .headerMiddle ul li a{display:block;}
.header .headerMiddle ul li a:hover{color:#31C27C;}
.BgGreen{background:#31C27C;color:white!important;}

.header .headerRight{width:300px;text-align:center;-border: 1px solid red;font-size:1.4rem;}
.header .headerRight a:first-child{line-height:94px;text-align:left;font-size:1.8rem;}
.header .headerRight a:nth-child(2){width:110px;padding:0 3px;height:38px;line-height:38px;margin:0 10px;margin-top:28px;background:#31C27C;border:1px solid #C9C9C9;border-radius:5px;color:white;}
.header .headerRight a:nth-child(2):hover{background:#2CAF6F;}
.header .headerRight a:last-child{widows:90px;padding:0 10px;height:38px;line-height:38px;margin-top:28px;background:white;border:1px solid #C9C9C9;border-radius:5px;}
.header .headerRight a:last-child:hover{background:#EDEDED;}
/* ===========================Header头部================================== */