body,ul,li,p,figure,figcaption,input,h3{margin:0;padding:0}
li{list-style:none;}
a{text-decoration:none;color:white;}
img{width:100%;height:100%;display:block;}

html{font-size:62.5%;}
body{background:url(../img/bg_star.jpg) center no-repeat;position:relative;}
/* body{background:url(../img/bg_star.jpg) center/100% 100% no-repeat;} */


.EWidth{width:87%;margin:0 auto;}
.clear::before,.clear::after{content: "";height: 0;line-height: 0;display: block;visibility: hidden;clear: both;}
.floatL{float:left;}
.floatR{float:right;}



/* ===========================流星================================== */
.starbox{position:absolute;width:100%;}
.star{position:absolute;width:10.8rem;height:15.2rem;top:-15.2rem;right:0;z-index:-1;transition:opacity .3s}
/* ===========================Header头部================================== */
header{min-width:87%;background:none;position:fixed;top:0;left:0;z-index:10;}
header .header{height:65%;display: flex;}
.header .headerLeft{width:15%;}

.header .headerMiddle{width:60%;text-align:center;}
.header .headerMiddle ul{position: relative;font-size:1.6rem;height:100%;}
.header .headerMiddle ul li{width:20%;height:100%;border-radius:0.5rem;cursor:pointer;overflow:hidden;perspective:1000px;}
.header .headerMiddle ul li a{position:relative;transform-style:preserve-3d;transform-origin:top;transition:all .4s;display:block;height:100%;border-radius:0.5rem;}
.header .headerMiddle ul li:hover a{transform:rotateX(90deg);}
.header .headerMiddle ul li a::before{content:attr(data-val);transform-origin:top;transition:all .4s;position:absolute;top:100%;left:0;transform:rotateX(-90deg);width:100%;height:100%;;border-radius:0.5rem;}
.header .headerMiddle ul li a:hover{color:#31C27C;}
.BgGreen{border-bottom:0.2rem solid #31C27C;transition:all .6s cubic-bezier(.13,-0.57,.87,1.58);width:20%;height:100%;position:absolute;top:0;left:0;z-index: -1;}

.header .headerRight{width:36%;text-align:center;font-size:1.4rem;height:100%;}
.header .headerRight>a:first-child{width:20%;height:100%;position:relative;font-size:1.6rem;display: block;overflow:hidden;}
.header .headerRight>a:first-child:hover::before{transform:translate(-100%,50%);opacity:0;}
.header .headerRight>a:first-child::before{content:attr(data-val);opacity:1;transition:all .3s;position:absolute;top:0;left:0;width:100%;height: 100%;transform:translate(0%,0%);}
.header .headerRight>a:first-child:hover::after{transform:translate(0%,0%);opacity:1;}
.header .headerRight>a:first-child::after{content:attr(data-val);opacity:0;transition:all .3s;position:absolute;top:0;left:0;width:100%;height: 100%;transform:translate(100%,-100%);color:#2CAF6F;}

.header .headerRight p{float:left;perspective:800px;height:100%;}
.header .headerRight p:nth-child(2){width:48%;//margin:0 .4rem;}
.header .headerRight p>a{float:left;width:80%;height:35%;padding:0 0.8rem;margin:0 auto;transform-style:preserve-3d;transition:all .6s;position:relative;}
.header .headerRight p:nth-child(2) a{transform-origin:left;background:#31C27C;border-radius:.5rem;color:white;display:block;opacity:1;}
.header .headerRight p:nth-child(2) a:hover::after{background:#2EAF86;opacity:1;}
.header .headerRight p:nth-child(2) a::after{content:attr(data-val);opacity:0;width:100%;height:100%;background:#34AAC1;border-radius:.5rem;transition:all .6s;position:absolute;top:0;left:100%;transform-origin:left;transform:rotateY(90deg);}

.header .headerRight p:last-child{width:32%;}
.header .headerRight p:last-child a{color:black;transform-origin:bottom;background:white;border-radius:.5rem;display:block;}
.header .headerRight p:last-child a::after{content:attr(data-val);width:100%;height:100%;background:#EDEDED;border-radius:.5rem;transition:all .6s;position:absolute;top:-100%;left:0%;transform-origin:bottom;transform:rotateX(90deg);}

header nav{height:35%;}
header nav div:first-child{width:95%;height:100%;float: left;transition:all 1s cubic-bezier(.17,.67,1,1.29);}
header nav ul{height:100%;width:87%;text-align:center;}
header nav ul li{width:16%;height:100%;font-size:1.6rem;overflow:hidden;}
header nav a{display: block;height:100%;position:relative;}
header nav a::before{content:"";position:absolute;transform:translate(0,-100%);width:80%;margin-left:10%;height:100%;display:block;border-bottom:.2rem solid white;transition:all .5s;}
header nav a:hover::before{transform:translate(0,-0.2rem);}

header nav div:last-child{width:4%;height:85%;font-size:1.6rem;position:relative;color:white;border:0.1rem solid #C9C9C9;border-radius:0.5rem;background:none;transition:all 1s cubic-bezier(.17,.67,1,1.29);}
header nav input{width:80%;height:100%;outline:none;padding-left:5%;color:white;background:none;border:none;display:none;}

 ::-webkit-input-placeholder {color:white;}
:-moz-placeholder {color:white;}
::-o-placeholder {color:white;}
:-ms-input-placeholder {color:white;}


header nav i{background:url(../img/search-off.png) center/2rem 2rem no-repeat;height:100%;width:100%;cursor:pointer;transition:background .4s;}
header nav i:hover{background-image:url(../img/search-on.png);}

/* ===========================Header头部================================== */




/* ===========================footer底部================================== */
footer{background:#333333;width:100%!important;color:#999999;overflow:hidden;}
footer a{color:#999999;}
footer .footleft a:hover,footer .footmiddle p a:hover{color:#31C37C;}
footer .footbox{height:80%;-margin-top:2rem;}
footer .footbox .footleft{width:37%;height:100%;}
footer .footbox>div h3{font-size:1.5rem;font-weight:100;letter-spacing:0.1rem;height:40%;}
footer .footbox>div p a{text-align:center;margin:0 1.4rem;font-size:1.4rem;transition:all 1s;position:relative;overflow:hidden;}
footer .footbox>div p a::before{content:"";background:url(../img/footer.png) no-repeat;display:block;width:100%;height:4.2rem;position:absolute;transition:all .5s;top:-100%;left:-100%;}
footer .footbox>div p a:first-child{margin-left:0;margin-right:1.4rem;}
footer .footbox>div p a:nth-child(2){width:5rem;}
footer .footbox>div p a i{display:block;height:4.2rem;margin-bottom:0.5rem;background:url(../img/footer.png) 0 0 no-repeat;display:block;}
footer .footbox>div p a:nth-child(2) i{background-position:-86px 0;}
footer .footbox>div p a:nth-child(3) i{background-position:-170px 0;}
footer .footbox>div p a:nth-child(4) i{background-position:-260px 0;}

footer .footbox>div p a:first-child::before{background-position:0px -49px;}
footer .footbox>div p a:nth-child(2)::before{background-position:-86px -49px;}
footer .footbox>div p a:nth-child(3)::before{background-position:-170px -49px;}
footer .footbox>div p a:nth-child(4)::before{background-position:-260px -49px;}
footer .footbox>div p a:hover:first-child::before{top:0;left:0;}
footer .footbox>div p a:hover:nth-child(2)::before{top:0;left:0;}
footer .footbox>div p a:hover:nth-child(3)::before{top:0;left:0;}
footer .footbox>div p a:hover:nth-child(4)::before{top:0;left:0;}

footer .footbox .footmiddle{width:33%;height:100%;}
footer .footbox .footmiddle p a:nth-child(2){width:9rem;}
footer .footbox .footmiddle p a:first-child i{background-position:-360px 0;}
footer .footbox .footmiddle p a:nth-child(2) i{background-position:-430px 0;}
footer .footbox .footmiddle p a:last-child i{background-position:-560px 0;}

footer .footbox .footmiddle p a::before{top:-100%;left:100%;}

footer .footbox .footmiddle p a:first-child::before{background-position:-360px -49px;}
 footer .footbo .footmiddle p a:nth-child(2)::before{background-position:-430px -49px;}
footer .footbox .footmiddle p a:last-child::before{background-position:-560px -49px;}
footer .footbox .footmiddle p a:hover:first-child::before{top:0;left:0;}
footer .footbox .footmiddle p a:hover:nth-child(2)::before{top:0;left:0;}
footer .footbox .footmiddle p a:hover:last-child::before{top:0;left:0;}

footer .footbox .footmiddle ul li{font-size:1.4rem;margin-right:5rem;margin-top:2.2rem;}
footer .footbox .footmiddle ul li a{position:relative;}
footer .footbox .footmiddle ul li a::before{content:attr(data-val);position:absolute;top:0;left:0;width:100%;height:0;transition:all 1s;color:#31C37C;white-space:nowrap;display:block;overflow:hidden;}
footer .footbox .footermiddle ul li a:hover::before{height:100%;}

footer .footbox .footright{width:30%;height:100%;}
footer .footbox .footright::after{content:"";display:block;width:0;height:100%;clear:right;}
footer .footbox .footright ul li{font-size:1.4rem;width:33%;margin-bottom:1.4rem;}
footer .footbox .footright ul li a{position:relative;;}
footer .footbox .footright ul li a::before{content:attr(data-val);white-space:nowrap;width:0;height:100%;display:block;position:absolute;top:0;left:0;color:#31C37C;transition:all .4s;overflow:hidden;}
footer .footbox .footright ul li a:hover::before{width:100%;}



footer .footInfo{height:20%;}
footer .footInfo i{font-style:normal;margin:0 0.4rem;}
footer .footInfo p:first-child{width:60rem;margin:0 auto;}
footer .footInfo p:first-child a{position:relative;}
footer .footInfo p:first-child a::before{content:attr(data-val);white-space:nowrap;width:0;height:100%;display:block;position:absolute;top:0;left:0;color:#31C37C;transition:all 1s;overflow:hidden;}
footer .footInfo p:first-child a:hover::before{width:100%;}

 footer .footInfo p:nth-child(2){width:36rem;margin:0 auto;margin:1rem auto;}
 footer .footInfo p:nth-child(2) a,footer .footInfo p:last-child a{position:relative;}
  footer .footInfo p:nth-child(2) a::before,footer .footInfo p:last-child a::before{content:attr(data-val);white-space:nowrap;width:0;height:100%;display:block;position:absolute;top:0;left:0;color:#31C37C;transition:all 1s;overflow:hidden;}
 footer .footInfo p:nth-child(2) a:hover::before,footer .footInfo p:last-child a:hover::before{width:100%;}
footer .footInfo p:last-child{width:29rem;margin:0 auto;}
/* ===========================footer底部================================== */
