body,ul,li,a,p,h1,h3{margin:0;padding:0;}
a{text-decoration:none;}
li{list-style:none;}

html{font-size:20px;}
body{position:relative;}
.floatL{float:left;}
.floatR{float:right;}

/* 左边banner */
.bigBox{position:fixed;top:0;left:0;width:24rem;height:100%:}
.bigBox .leftFixed img{width:100%;}

/* sign注册 */
.formBox{position:fixed;right:0;top:0;}
.formBox .form{width:24rem;position:absolute;top:0;left:0;right:0;margin: 0 auto;}

.formBox .form .title h1{font-weight:100;font-size:2rem;}
.formBox .form .title p{font-size:1.4rem;margin-top:0.5rem;color:#333333;}

.formBox .form form{margin-top:4rem;}
.formBox .form .input{margin-top:2rem;}
.formBox .form .input input{width:100%;height:2.5rem;border:0.05rem solid #AAAAAA;border-radius:0.25rem;outline:none;font-size:1rem;padding-left:1rem;box-sizing:border-box;}
.formBox .form .input input:hover{border:0.05rem solid #777777;}
.formBox .form .input input:focus{border:0.05rem solid #549DF8;}
.formBox .form .input span{display:block;}
.formBox .form .input .fontRed{color:#ED6661;font-size:0.8rem;margin-top:0.5rem;display:none;}
.formBox .form .input .fontRed::before{content:"!";border-radius:50%;width:1.05rem;height:1.05rem;line-height:1.05rem;background:#ED6661;margin-right:0.4rem;color:white;text-align:center;font-size:0.8rem;float:left;}
.formBox .form  .input .hint{display:none;font-size:0.7rem;color:black;}
.formBox .form  .input .hint span{margin-top:0.5rem;}
.formBox .form  .input .hint span:nth-of-type(1)::before{content:"";background:url(../img/green.png) center no-repeat;float:left;width:0.9rem;height:0.9rem;margin-right:0.4rem;}
.formBox .form  .input .hint span:nth-of-type(2)::before,.formBox .form  .input .hint span:nth-of-type(3)::before{content:"";background:url(../img/info.png) center no-repeat;float:left;width:0.9rem;height:0.9rem;margin-right:0.4rem;}
.formBox .form  .input .hint{display:none;}

.formBox .form button{width:100%;height:3rem;background:#3587FF;border:none;outline:none;border-radius:0.25rem;color:white;font-size:1rem;cursor:pointer;display:block;margin-top:2rem;}

