<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>Document</title>
    <!-- banner模板 -->
    <script type="text/templete" id="templete">
        <div class="bannerList">
            <div class="thumbnail">
                <a href="javascript:;" data-id="<%= id %>"><img src="<%= large %>" class="img-responsive" alt="<%= title %>"></a>
                <div class="caption">
                    <p>
                        <a href="javascript:;" data-id="<%= id %>"><%= title %></a>
                    </p>
                    <p><i class="grade"></i><span><%= average %></span></p>
                    <button>选座购票</button>
                </div>
            </div>
        </div>
    </script>
    <!-- 影评模板 -->
    <!-- <script type="text/templete" id="commentTemplete">
        <figure class="movieCommentList">
            <img src="https://img3.doubanio.com/view/photo/photo/public/p1596085504.webp" class="img-responsive">
            <figcaption>
                <p class="movieCommentTitle"><a href="javascript:;"><%= title %></a></p>
                <p class="movieCommentUser"><a href="javascript:;"><%= name %></a>评论<a href="javascript:;">《<%= title %>》</a></p>
                <div class="movieCommentContent">
                    <a href="javascript:;"><%= content %></a>
                </div>
            </figcaption>
        </figure>
    </script> -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <!-- 默认出现加载中 -->
    <div class="coverBox"><p><img src="../img/refresh.gif"></p></div>
    <!-- 默认出现加载中 -->
    <div class="container bigBox">
        <!--导航条-->
        <!-- 弹出框(成功or关闭)Start -->
        <div class="closeBox">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>没有更多了</strong>
            </div>
        </div>
        <!-- 弹出框(成功or关闭)End -->
        <!-- 导航条开始 -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <a class="navbar-brand" href="./index.html">星空影评</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">榜单 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类 <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <div class="row">
                                    <div class="col-md-1 list">abc</div>
                                    <div class="col-md-1 list">abc</div>
                                    <div class="col-md-1 list">abc</div>
                                    <div class="col-md-1 list">abc</div>
                                    <div class="col-md-1 list">abc</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control searchText" placeholder="电影、影人、影院、电视剧">
                            <div class="searchResult">
                                <p><span></span><span>搜索该电影</span></p>
                                <p><span></span><span>搜索该类型</span></p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default searchBtn">搜索</button>
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--导航条结束-->
        <!-- 分类浏览Start -->
        <div class="container-fluid movieType">
			<h3>分类浏览 <span class="toggleKind">-</span></h3>
			<div class="row">
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">纪录片</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">战争</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">经典</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">动作</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">喜剧</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">爱情</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">悬疑</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">恐怖</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">科幻</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">治愈</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">文艺</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">成长</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">动画</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">华语</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">欧美</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">韩国</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">日本</a></div>
				<div class="col-xs-6 col-md-2 movieText"><a href="javascript:;">冒险</a></div>
			</div>
        </div>
        <!-- 分类浏览End -->
        <!--bannerStart-->
        <div class="container-fluid banner">
	        <div class="title">
				<p>影院热映</p>
				<p>
					<span>&lt;</span>
					<span>&gt;</span>
				</p>
	        </div>
	        <div class="content">
	    		<span class="bannerLeft direction">&lt;</span>
	    		<span class="bannerRight direction">&gt;</span>
	            <div class="row"></div>
            </div>
        </div>
        <!-- bannerEnd -->
        <!-- 新片榜Start -->
         <div class="container-fluid newMovies">
	        <div class="title">
				<p>新片榜</p>
				<p>
					<span>&lt;</span>
					<span>&gt;</span>
				</p>
	        </div>
	        <div class="content">
	    		<span class="bannerLeft direction">&lt;</span>
	    		<span class="bannerRight direction">&gt;</span>
	            <div class="row"></div>
            </div>
        </div>
        <!-- 新片榜End -->

        <!-- 口碑榜Start -->
         <div class="container-fluid moviePraise">
            <div class="title">
                <p>口碑榜</p>
                <p>
                    <span>&lt;</span>
                    <span>&gt;</span>
                </p>
            </div>
            <div class="content">
                <span class="bannerLeft direction">&lt;</span>
                <span class="bannerRight direction">&gt;</span>
                <div class="row"></div>
            </div>
        </div>
        <!-- 口碑榜End -->
        <!-- 影评Start -->
       <!--   <div class="container-fluid movieComment">
            <h1>最受欢迎的影评</h1>
            <figure class="movieCommentList">
                <img src="../img/1.webp" class="img-responsive">
                <figcaption>
                    <p class="movieCommentTitle"><a href="javascript:;">海边的曼彻斯特</a></p>
                    <p class="movieCommentUser"><a href="javascript:;">用户</a>评论<a href="javascript:;">《海边的曼彻斯特》</a></p>
                    <div class="movieCommentContent">
                        <a href="javascript:;">abc</a>
                    </div>
                </figcaption>
            </figure>
         </div> -->
        <!-- 影评End -->
</body>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/index.js"></script>

</html>
