@charset "UTF-8";
body,
ul,
li,
figcaption,
figure,
p {
  margin: 0;
  padding: 0; }

html {
  font-size: 20px; }

li {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:active {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

@media screen and (min-width: 768px) and (max-width: 1000px) {
  html {
    font-size: 20px; }

  .direction {
    display: none !important; }

  .bigBox .searchContent {
    width: 100% !important; }
    .bigBox .searchContent .pingfeng {
      width: 70% !important; }
      .bigBox .searchContent .pingfeng i {
        height: 11px !important;
        width: 55px !important;
        margin: 0.1rem !important; } }
@media screen and (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 15px; }

  .bigBox .searchContent {
    width: 100% !important; }
    .bigBox .searchContent .pingfeng {
      width: 70% !important; }
      .bigBox .searchContent .pingfeng i {
        height: 11px !important;
        width: 55px !important;
        margin: 0.1rem !important; }

  .bannerList:nth-child(odd) {
    margin-right: 1rem !important; }

  .bannerList:nth-child(even) {
    background: red;
    margin-right: 0 !important; } }
@media screen and (min-width: 375px) and (max-width: 375px) {
  html {
    font-size: 18px; }

  .bigBox .searchContent {
    width: 100% !important; }
    .bigBox .searchContent .pingfeng {
      width: 70% !important; }
      .bigBox .searchContent .pingfeng i {
        height: 11px !important;
        width: 55px !important;
        margin: 0.1rem !important; }

  .bannerList:nth-child(odd) {
    margin-right: 1rem !important; }

  .bannerList:nth-child(even) {
    margin-right: 0 !important; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 18px; }

  .bigBox .searchContent {
    width: 100% !important; }
    .bigBox .searchContent .pingfeng {
      width: 70% !important; }
      .bigBox .searchContent .pingfeng i {
        height: 11px !important;
        width: 55px !important;
        margin: 0.1rem !important; }
    .bigBox .searchContent .content {
      margin-left: 1.2rem; }

  .bannerList:nth-child(odd) {
    margin-right: 1rem !important; }

  .bannerList:nth-child(even) {
    margin-right: 0 !important; } }
.row {
  margin: 0;
  padding: 0; }

/* 提示框Start */
.closeBox {
  display: none; }
  .closeBox .alert-warning {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 12rem;
    height: 2.5rem;
    text-align: center;
    color: white;
    background: #268DCD;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: .7rem;
    line-height: 2.7rem; }
  .closeBox .close {
    color: white;
    padding-top: 0.7rem; }

/* 提示框End */
/* 顶部 */
.bigBox {
  /* 顶部End */
  /* 分类导航 */
  /* 分类导航 */
  /* 搜索的内容Start */
  /* 搜索的内容End */
  /* 更多按钮Start */
  /* 更多按钮End */ }
  .bigBox > .navbar > .container-fluid {
    padding-right: 0; }
  .bigBox > nav {
    background: none;
    border: none; }
    .bigBox > nav .dropdown-menu .list {
      width: 10rem;
      float: left; }
    .bigBox > nav .navbar-form {
      padding-right: 0; }
    .bigBox > nav form {
      padding-right: 0;
      height: 2.7rem; }
      .bigBox > nav form input,
      .bigBox > nav form .searchBtn {
        outline: none !important;
        box-shadow: none !important; }
      .bigBox > nav form .form-group {
        float: left;
        margin-right: .2rem;
        position: relative; }
        .bigBox > nav form .form-group .searchResult {
          display: none;
          position: absolute;
          top: 1.7rem;
          left: 0;
          width: 100%;
          height: 3rem;
          line-height: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .bigBox > nav form .form-group .searchResult p {
            height: 1.5rem; }
            .bigBox > nav form .form-group .searchResult p span {
              float: left;
              cursor: pointer; }
            .bigBox > nav form .form-group .searchResult p span:first-of-type {
              margin-right: .5rem; }
            .bigBox > nav form .form-group .searchResult p span:last-of-type {
              color: #268DCD; }
            .bigBox > nav form .form-group .searchResult p:hover {
              background: rgba(0, 0, 0, 0.4); }
      .bigBox > nav form .searchBtn {
        float: left; }
  .bigBox .movieType {
    margin-bottom: 1rem; }
    .bigBox .movieType .row {
      background: none;
      color: #268DCD;
      font-size: .6rem; }
      .bigBox .movieType .row .movieText {
        border: 0.05rem solid #EEEEEE;
        border-radius: .2rem;
        height: 1.5rem;
        line-height: 1.5rem; }
        .bigBox .movieType .row .movieText a {
          color: #268DCD; }
          .bigBox .movieType .row .movieText a:hover {
            color: #23527C; }
  .bigBox .movieType h3 {
    font-size: .9rem;
    font-weight: bold;
    color: #333333; }
    .bigBox .movieType h3 .toggleKind {
      display: inline-block;
      margin: 0;
      padding: 0 .4rem;
      border: .025rem solid #EEEEEE;
      font-weight: 100;
      font-size: .8rem;
      cursor: pointer; }
  .bigBox .searchContent {
    padding: 0;
    /* 搜索标题 */
    /* 搜索标题 */
    /* 搜索的内容 */ }
    .bigBox .searchContent .searchTitle {
      height: 1.25rem;
      font-size: 0.8rem;
      margin: 1rem 0 .5rem 0;
      font-weight: bold; }
      .bigBox .searchContent .searchTitle a {
        color: #333; }
        .bigBox .searchContent .searchTitle a:hover {
          color: #268DCD; }
    .bigBox .searchContent .content {
      overflow: hidden; }
      .bigBox .searchContent .content .bannerList {
        width: 9rem;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-right: 2.5rem;
        margin-bottom: 1rem;
        float: left; }
        .bigBox .searchContent .content .bannerList .thumbnail {
          margin-bottom: 0rem; }
        .bigBox .searchContent .content .bannerList img {
          width: 9rem;
          height: 12.5rem; }
        .bigBox .searchContent .content .bannerList div {
          font-size: .8rem;
          padding: .2rem 0 .1rem 0; }
          .bigBox .searchContent .content .bannerList div p {
            font-size: .8rem;
            width: 100%;
            overflow: hidden; }
            .bigBox .searchContent .content .bannerList div p span {
              float: left;
              text-align: right;
              width: 50%; }
            .bigBox .searchContent .content .bannerList div p a {
              width: 50%;
              font-size: 0.7rem;
              text-align: left;
              float: right;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
        .bigBox .searchContent .content .bannerList .caption > p {
          width: 55%;
          margin: 0 auto;
          overflow: hidden;
          height: 1rem;
          line-height: 1rem;
          margin-bottom: .2rem; }
          .bigBox .searchContent .content .bannerList .caption > p i {
            float: left;
            width: 2.75rem;
            height: 0.55rem;
            margin-top: 0.22rem;
            background: url(../img/starScore.png) no-repeat; }
          .bigBox .searchContent .content .bannerList .caption > p span {
            float: right;
            width: 2rem;
            color: #FFAC2D;
            font-size: .5rem;
            text-align: center; }
  .bigBox .moreBtn {
    width: 10rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border: .1rem solid #268DCD;
    text-align: center;
    transition: background 1s ease;
    cursor: pointer;
    margin: 0 auto; }
    .bigBox .moreBtn:hover {
      background: #268DCD; }
      .bigBox .moreBtn:hover a {
        color: white; }
    .bigBox .moreBtn a {
      color: black;
      font-size: .9rem;
      transition: color 1s ease; }

/*# sourceMappingURL=search.css.map */
