body,
ul,
li,
figcaption,
figure,
p {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}
li {
    list-style: none;
}

a {
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    html{
        font-size:20px;
    }
    .direction{
        display:none!important;
    }
    .bigBox .searchContent{
        width:100%!important;
        .pingfeng{
            width:70%!important;
            i{
                height: 11px!important;
                width:55px!important;
                margin:0.1rem!important;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {///iPhone5.
    html{
        font-size:15px;
    }
    .bigBox .searchContent{
        width:100%!important;
        .pingfeng{
            width:70%!important;
            i{
                height: 11px!important;
                width:55px!important;
                margin:0.1rem!important;
            }
        }
    }
    .bannerList:nth-child(odd){
        margin-right:1rem !important;
    }
    .bannerList:nth-child(even){
        background : red;
        margin-right:0 !important;
    }
}
@media screen and (min-width: 375px) and (max-width: 375px) {///iPhone6.
    html{
        font-size:18px;
    }
    .bigBox .searchContent{
        width:100%!important;
        .pingfeng{
            width:70%!important;
            i{
                height: 11px!important;
                width:55px!important;
                margin:0.1rem!important;
            }
        }
    }
    .bannerList:nth-child(odd){
        margin-right:1rem !important;
    }
    .bannerList:nth-child(even){
        margin-right:0 !important;
    }
}
@media screen and (min-width: 376px) and (max-width: 414px) {///iPhone6s及其他.
    html{
        font-size:18px;
    }
    .bigBox .searchContent{
        width:100%!important;
        .pingfeng{
            width:70%!important;
            i{
                height: 11px!important;
                width:55px!important;
                margin:0.1rem!important;
            }
        }
        .content{
            margin-left:1.2rem;
        }
    }
    .bannerList:nth-child(odd){
        margin-right:1rem !important;
    }
    .bannerList:nth-child(even){
        margin-right:0 !important;
    }
}
.row {
    margin: 0;
    padding: 0;
}
/* 提示框Start */
.closeBox{
    display:none;
    .alert-warning{
        padding-top:0;
        padding-bottom:0;
        padding-left:0;
        width:12rem;
        height:2.5rem;
        text-align:center;
        color:white;
        background:#268DCD;
        position:fixed;
        z-index: 9999;
        top:0;
        left:0;
        bottom:0;
        right:0;
        margin:auto;
        font-size:.7rem;
        line-height: 2.7rem;
    }
    .close{
        color:white;
        padding-top:0.7rem;
    }
}
/* 提示框End */
    /* 顶部 */
.bigBox {
    >.navbar>.container-fluid{
        padding-right:0;
    };
    >nav {
        background: none;
        border: none;
        .dropdown-menu .list {
            width: 10rem;
            float: left;
        }
        .navbar-form{
            padding-right:0;
        }
        form {
            padding-right:0;
            height:2.7rem;
            input,
            .searchBtn {
                outline: none!important;
                box-shadow: none !important;
            }
            .form-group {
                float: left;
                margin-right: .2rem;
                position: relative;
                .searchResult{
                    display: none;
                    position:absolute;
                    top:1.7rem;
                    left:0;
                    width:100%;
                    height:3rem;
                    line-height:1.5rem;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    p{
                        height:1.5rem;
                        span{
                            float: left;
                            cursor:pointer;
                        }
                        span:first-of-type{
                            margin-right:.5rem;
                        }
                        span:last-of-type{
                            color:#268DCD;
                        }
                        &:hover{
                            background:rgba(0,0,0,.4);
                        }
                    }
                }
            }
            .searchBtn {
                float: left;
            }
        }
    }
    /* 顶部End */
    /* 分类导航 */
    .movieType{
        margin-bottom:1rem;
        .row{
            background:none;
            color:#268DCD;
            font-size:.6rem;
            .movieText{
                border:0.05rem solid #EEEEEE;
                border-radius:.2rem;
                height:1.5rem;
                line-height:1.5rem;
                a{
                    color:#268DCD;
                    &:hover{
                        color:#23527C;
                    }
                }
            }
        }
    }
    .movieType h3{
        font-size:.9rem;
        font-weight: bold;
        color:#333333;
        .toggleKind{
            display: inline-block;
            margin:0;
            padding:0 .4rem;
            border:.025rem solid #EEEEEE;
            font-weight:100;
            font-size:.8rem;
            cursor:pointer;
        }
    }
     /* 分类导航 */
    /* 搜索的内容Start */
    .searchContent{
        padding:0;
        /* 搜索标题 */
        .searchTitle{
            height:1.25rem;
            font-size:0.8rem;
            margin:1rem 0 .5rem 0;
            font-weight: bold;
            a{
                color:#333;
                &:hover{
                    color:#268DCD;
                }
            }
        }
        /* 搜索标题 */
        /* 搜索的内容 */
        .content{
            overflow: hidden;
            .bannerList {
                $max-width: 9rem;
                $min-width: 4.25rem;
                width : $max-width;
                text-align: center;
                margin: 0;
                padding: 0;
                margin-right: 2.5rem;
                margin-bottom:1rem;
                float: left;
                .thumbnail {
                    margin-bottom: 0rem;
                }
                img {
                    width: $max-width;
                    height: $max-width / 0.72;
                }
                div {
                    font-size: .8rem;
                    padding: .2rem 0 .1rem 0;
                    p{
                        font-size:.8rem;
                        width:100%;
                        overflow: hidden;
                        span{
                            float: left;
                            text-align: right;
                            width:50%;
                        }
                        a{
                            width:50%;
                            font-size:0.7rem;
                            text-align:left;
                            float: right;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
                .caption>p {
                    width: 55%;
                    margin: 0 auto;
                    overflow: hidden;
                    height: 1rem;
                    line-height: 1rem;
                    margin-bottom: .2rem;
                    i {
                        float: left;
                        $width: 2.75rem;
                        width: $width;
                        height: $width / 5;
                        margin-top: 0.22rem;
                        background: url(../img/starScore.png) no-repeat;
                    }
                    span {
                        float: right;
                        width: 2rem;
                        color: #FFAC2D;
                        font-size: .5rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    /* 搜索的内容End */
    /* 更多按钮Start */
    .moreBtn{
        width:10rem;
        height:2.5rem;
        line-height:2.5rem;
        border:.1rem solid #268DCD;
        text-align:center;
        transition:background 1s ease;
        cursor:pointer;
        margin:0 auto;
        &:hover{
            background:#268DCD;
            a{
                color:white;
            }
        }
        a{
            color:black;
            font-size:.9rem;
            transition:color 1s ease;
        }
    }
    /* 更多按钮End */
}
